# Copy this file to `.env` and update the value.
# This .env.example is provided with placeholder values with environment variables are needed for the application to run properly.
BASE_URL=https://www.saucedemo.com
